@using EntityLayer_HizmetPortal.Concrate
@model List<Stage>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>StatusButton</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StageId</td>
            <td>@item.StageName</td>
            <td>@item.StageStatus</td>
            <td>
                @if (item.StageStatus)
                {
                    <a href="/AdminStage/ToggleStatus/@item.StageId" class="btn btn-danger">
                        Devre Dışı
                    </a>
                }
                else
                {
                    <a href="/AdminStage/ToggleStatus/@item.StageId" class="btn btn-success">
                        Aktif Et
                    </a>
                }
            </td>
            <td><a href="/AdminStage/Edit/@item.StageId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<br />
<a href="/AdminStage/Create" class="btn btn-info">yeni stage</a>