@using EntityLayer_HizmetPortal.Concrate
@model List<Appointment>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Randevu Tarihi</th>       
        <th>DevreDışı</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AppointmentId</td>
            <td>@item.AppointmentStartTime</td>                        
            <td><a href="/AdminRandevu/DeleteRandevu/@item.AppointmentId" class="btn btn-danger">DevreDışı</a></td>         
        </tr>
    }
</table>
<br />
<a href="/AdminRandevu/Create" class="btn btn-info">yeni kategori</a>