
@{
    ViewBag.Title = "AnaSayfaIndex";
    Layout = "~/Views/Shared/UygulamaLayout.cshtml";
}


<div class="duyurular-section">
    @Html.Action("DuyurlarIndex", "AnaSayfa")
</div>

<div class="hizmetler-section">
    @Html.Action("HizmetlerIndex", "AnaSayfa")
</div>

<div class="hizmetler-section">
    @Html.Action("DersIndex", "AnaSayfa")
</div>

<br />
<br />
<br />

<footer>
    <p>&copy; 2024 TALAS BELEDİYESİ. Tüm hakları saklıdır.</p>
</footer>
<style>

    footer {
        background-color: #1a237e;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>