
@{
    ViewBag.Title = "AnaSayfaIndex";
    Layout = "~/Views/Shared/UygulamaLayout.cshtml";
}


<div class="duyurular-section">
    @Html.Action("DuyurlarIndex", "AnaSayfa")
</div>

<div class="hizmetler-section">
    @Html.Action("HizmetlerIndex", "AnaSayfa")
</div>

<div class="hizmetler-section">
    @Html.Action("DersIndex", "AnaSayfa")
</div>


