@model EntityLayer_HizmetPortal.Concrate.Duyurular
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Duyurlar Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("Edit", "AdminDuyurular", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Duyuru Id")
        @Html.TextBoxFor(x => x.DuyurularId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Duyuru Image")
        <input type="file" name="DuyurularImage" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Güncelle</button>
}