@using EntityLayer_HizmetPortal.Concrate
@model List<Duyurular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="overflow-x:auto;">
    <table class="table table-bordered">
        <tr>
            <th>DuyurularId</th>
            <th>DuyurularImage</th>
            <th>DuyurlarStatus</th>
            <th>DuyurularStatusButton</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DuyurularId</td>
                <td>@item.DuyurularImage</td>
                <td>@item.DuyurularStatus</td>
                <td>
                    @if (item.DuyurularStatus)
                    {
                        <a href="/AdminDuyurular/ToggleStatus/@item.DuyurularId" class="btn btn-danger">
                            Devre Dışı
                        </a>
                    }
                    else
                    {
                        <a href="/AdminDuyurular/ToggleStatus/@item.DuyurularId" class="btn btn-success">
                            Aktif Et
                        </a>
                    }
                </td>
                <td><a href="/AdminDuyurular/Edit/@item.DuyurularId" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/AdminDuyurular/Delete/@item.DuyurularId" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
</div>
<br />
<a href="/AdminDuyurular/Create" class="btn btn-info">Yeni Duyuru</a>