@using EntityLayer_HizmetPortal.Concrate
@model List<Service>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Servis Adi</th>
        <th>Açıklama</th>
        <th>DevreDışı</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.ServiceTitle</td>
            <td>@item.ServiceDescription</td>
            <td>@item.ServiceStatues</td>
            <td><a href="/AdminService/ToggleStatus/@item.ServiceId" class="btn btn-danger">DevreDışı</a></td>
            <td><a href="/AdminService/Edit/@item.ServiceId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<br />
<a href="/AdminService/Create" class="btn btn-info">yeni kategori</a>