@using EntityLayer_HizmetPortal.Concrate
@model List<Lesson>
@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/UygulamaLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Css/StyleSheet5.css">

</head>
<body>
    <div class="lesson">
        @foreach (var lesson in Model)
        {
            <div class="lesson-div">
                <img src="@lesson.LessonImage" alt="Lesson Image">
                <center>
                    <a href="/Lesson/LessonDetaylarIndex/@lesson.LessonId" style="text-decoration: none;">
                        <p>@lesson.LessonTitle</p>
                    </a>
                </center>
            </div>
        }
    </div>
</body>
</html>
