@model EntityLayer_HizmetPortal.Concrate.Lesson
@{
    ViewBag.Title = "LessonDetaylarIndex";
    Layout = "~/Views/Shared/UygulamaLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Css/StyleSheet3.css">
</head>
<body>
    <div class="lesson-detail">
        <img src="@Model.LessonImage" alt="Lesson Image">
        <div class="text-content">
           <center><h2>@Model.LessonTitle</h2></center> 
           <p>@Model.LessonDescription</p>
        </div>
    </div>
</body>
</html>
